.aboutMe {
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s ease-in;
    margin: 1rem auto; /* Centers the content horizontally with some margin */
    padding: 1rem; /* Adds some padding around the content */
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%; /* Ensure the component does not exceed the viewport width */
    overflow: hidden; /* Hide any content that exceeds the component's boundaries */
  }
  
  p {
   
    text-align: center; /* Ensure text starts from the left */
    margin-bottom: 1rem; /* Adds spacing between paragraphs */
    overflow-wrap: break-word; /* Allows words to break if longer than max-width */
  }
  
  .aboutMe.typing-container {
    opacity: 1;
  }
  
  .typing {
    overflow: hidden; /* Ensures the text is hidden while typing */
    white-space: nowrap; /* Keeps the text on a single line */
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: rgb(36, 35, 34); /* Adjust the color of the blinking caret */
    }
  }
  