/* AboutMe.css */
.aboutMe {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s ease-in;
  margin: 1rem auto; 
  padding: 1rem; 
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%; 
  overflow: hidden; 
}

p {
  text-align: center; 
  margin-bottom: 1rem; 
  overflow-wrap: break-word; 
}

.aboutMe.typing-container {
  opacity: 1;
}

.typing {
  overflow: hidden; 
  white-space: normal;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(36, 35, 34); 
  }
}


@media (max-width: 767px) {
  .aboutMe.typing-container,
  .typing {
    animation: none;
    white-space: normal;
    overflow: visible;
  }
}


@media (min-width: 768px) {
  .aboutMe.typing-container,
  .typing {
    white-space: normal;
    overflow: visible;
  }
}
